:root {

  --root-font-size: 3rem;
  --root-corner-radius: 0rem;

  --root-color-bg: #1E1E1E;
  --root-color-fg: #EEEEEE;
  --lobby-box-color-bg: #252526;
  --lobby-box-color-fg: #333333;
  --lobby-box-color-a1: #0C7D9D;

  --animation-speed: 0.1s;

}

body {
  font-family: Roboto, sans-serif;
  font-size: var(--root-font-size);
  background: var(--root-color-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  height: 100%;
}

::selection {
  opacity: 0;
 }

.lobby-box {
  transition: box-shadow var(--animation-speed);
  background: var(--lobby-box-color-bg);
  box-shadow: 0px 0px 0px 2px var(--lobby-box-color-bg) inset;
  border-radius: var(--root-corner-radius);
  cursor: hand;
  color: #FFFFFF; }
.lobby-box > .lobby-title {
  font-weight: 700;
  margin: 2rem 2rem 0.25rem 2rem;
  font-family: monospace; }
.lobby-box > .lobby-playernum {
  transition: margin var(--animation-speed), padding-left var(--animation-speed);
  background: var(--lobby-box-color-fg);
  margin: 2px 0 2rem 0;
  padding: 0.5rem 0.5rem 0.5rem 2rem;
  font-size: 1rem;
}

.lobby-box:hover {
  box-shadow: 0px 0px 0px 3px var(--lobby-box-color-a1) inset; }
.lobby-box:hover > .lobby-playernum {
  margin: 0 3px 2rem 3px;
  padding-left: calc(2rem - 3px);
}